apiVersion: 1

datasources:
{% if observability_prometheus_enabled is defined and observability_prometheus_enabled %}

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ observability_prometheus_container_name }}:9090
    isDefault: true
    editable: false

{% endif %}

{% if observability_loki_enabled is defined and observability_loki_enabled %}

  - name: Loki
    type: loki
    access: proxy
    url: http://{{ observability_loki_container_name }}:3100
    editable: false

{% endif %}

{% if influxdb_enabled is defined and influxdb_enabled %}

  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://{{ influxdb_container_name }}:8086
    editable: true

{% endif %}

